/* Consolidated :root variables */
:root {
    /* Color variables */
    --bg-color: #f3f3f3;
    --text-color: #020202;
    --primary-color: #4285f4;
    --border-color: #676767;
    --input-bg-color: #676767;


    /* Font variables */
    --font-size: 16px;
    --input-padding: 8px;
    --font-family: Arial, sans-serif;
}


/* Theme overrides */


/*/////////////////////////////////                            ///////////////////////////////////////////////////////*/


[data-theme="dark"] {
    --bg-color: #232323;
    --text-color: #f1ecec;
    --primary-color: #8ab4f8;
    --border-color: #c1baba;
}
/*/////////////////////////////////         BLUE                   ///////////////////////////////////////////////////////*/

[data-theme="blue"] {
    --bg-color: #e6f0ff;
    --text-color: #003366;
    --primary-color: #0066cc;
    --border-color: #99c2ff;
}

[data-theme="blue"] input, center_container zoeken{
    --bg-color: #58a0e1;
    --text-color: #0066cc;
}



[data-theme="blue"] #zoeken {
    --bg-color: #5aa7d1;
    --text-color: #003366;
}

/*/////////////////////////////////                            ///////////////////////////////////////////////////////*/


[data-theme="lilac"]  {
    --bg-color: #291b39;
    --text-color: #dccfa3;
    --primary-color: #504f2b;
    --border-color: #fff2a0;

}

[data-theme="lilac"] input{
    --bg-color: #fff2a0;
    --text-color: #1c1601;


}

[data-theme="lilac"] #zoeken {
    --bg-color: #fff2a0;
    --text-color: #1c1601;
    --border-color: #fff2a0;;

}

[data-theme="lilac"] #settings-button-id {
    --bg-color: #fff2a0;
    --text-color: #1c1601;
    --border-color: #fff2a0;;

}


/*/////////////////////////////////                            ///////////////////////////////////////////////////////*/
/* Base styles */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    padding: 20px;
    transition: all 0.3s ease;
}

/* Form elements */
.route, .time, select, button, textarea, .test-class,
#startpunt, #eindpunt, #label-time, #label-datum, #tijd, #datum, .zoeken button, settings-button, a {

    font-family: var(--font-family);
    font-size: calc(var(--font-size) * 0.9);
    padding: calc(var(--input-padding) * 0.8);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);

    margin: 1vh 0;
    width: 100%;
    max-width: 40vw;
    box-sizing: border-box;
}


/*///////////////////////////////////////////////////////  style  ///////////////////////////*/