/*VERANDER DE CONTRASTEN LATER */


* {
    margin: auto;
    color: black;
}


body {
    padding: 2vh 0;
}

form {
    display: flex;
    justify-content: center;
}

.center_container {
    display: flex;
    justify-content: center;
    text-align: center;

}


.vertrek_eind input {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    min-width: 70vw;
    border-style: solid;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;

    text-align: center;

}


#pijltjes_vertrek_eind {
    height: 10vh;


}


.tijd_sectie {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label#label-time, label#label-datum {
    min-width: 70vw;
    min-height: 5vh;
    margin-bottom: 2px;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
label#label-datum{
    margin-top: 10vh;
}
input#tijd, input#datum{
    margin-top: 0px;
}


#tijd, #datum {
    min-width: 70vw;
    min-height: 7vh;
    margin-top: 0px;
}

.tijd_sectie label {
    font-weight: bold;
    font-size: 2rem;
    border: black solid;
    padding: 1vh 30vw;
}

.tijd_sectie input {
    margin-top: 1vh;
    width: 40vw;
    height: 5vh;
}


.zoeken {
    padding-top: 4vh;
    font-size: 2rem;
}

.zoeken button {
    padding: 3vh 10vw;
    border-radius: 1vw;


}

.settings-button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.a-button{
    margin-top: 50vh;
}
