* {
    margin: 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

header {
    background-color: #3E445B;
    padding: 2vh 0;
}

.richting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10vw;
}

#laatSpoorZien {
    padding: 2vh 2vh;
    margin-right: 3vw;
    border: solid;
    background-color: grey;
    font-weight: bold;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #444444;
        color: white;
    }
}